:root {
  /* Background Colors */
  --background-color: hsl(0, 0%, 100%);
  --content-background-color: #ef233c;

  /* Text Colors */
  --text-color: #f0f2d5;
  --centerbar-text-color: #f0f2d5;
  --link-color: #76da9d;
  --link-color-hover: #006d37;

  /* Fonts */
  --font: Verdana, sans-serif;
  --heading-font: Georgia, serif;
  --font-size: 16px;

  /* Spacing and Borders */
  --margin: 10px;
  --padding: 15px;
  --border: none;
  --round-borders: 25px;
}
@font-face {
  font-family: 'Rainy Hearts';
  src: url('rainyhearts.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font: 'Rainy Hearts', monospace;
  --heading-font: 'Rainy Hearts', monospace;
}

/* BASICS */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background: var(--background-color);
  background-image: url("https://garden.spoonflower.com/c/18554563/p/f/m/_EtQiZE2X_zyi3znmJBaM57Y0IrHhdxBWxQ5tmOvxYfTT2dEap-5/Baby%20blue%20tiny%20strawberries.jpg");
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* LAYOUT */

.layout {
  width: 1200px;
  display: grid;
  grid-gap: var(--margin);
  grid-template:
    "header" auto
    "main" auto
    "footer" auto
    / auto;
}

main {
  grid-area: main;
  overflow-y: auto;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--border);
  border-radius: var(--round-borders);
  line-height: 1.5;
}

header {
  grid-area: header;
  font-size: 1.2em;
  border: var(--border);
  border-radius: var(--round-borders);
  background: var(--content-background-color);
}


.header-content {
  padding: var(--padding);
}


.header-title {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
}


footer {
  grid-area: footer;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  font-size: 0.75em;
  padding: 15px;
  background: var(--content-background-color);
  display: flex;
  justify-content: center;
}


